@media (min-width: 426px) {
	

	.barLooks{
		margin: 0 0 0.5vw 0;
		margin: 0 0 0.5vw 0;
	}

	.big-name{
		font-size: 5vw !important;
		line-height: 5vh;
		margin-left: 2vw;
	}
	.menu{
		padding: 0;
	}
	.btn-magic {
		padding: 0.2vw;
		margin: 0.2vw !important;
		font-size: 3.5vw !important;
		float: none;
	}
	li.fltRight{
		line-height: 5vh;
	}

	/* --- Menu until here --- */

	li {
		line-height: 3.4vh;
	}
	
	a{
		font-size: 1.1vw;
	}
	.hwB{
		height: 0vh;
		width: 0vw;
	}

	.spaceToMiddle{
		margin-bottom: 2vh;
	}

	.some-space-left{
		margin-left: 2vw;
	}

	[class*="fit"] {
		width: 90%;
	}
	.textC{
		margin: 3vh 0 2vh 5vh;
		font-size: 6vw;
	}
	ul.cancelFloat > li{
		font-size: 4vw;
		line-height: 4vh;
		margin-left: 4vh;
	}

	.alterLabel{
		margin: 0 0 0 0;
	}

	label:after{
		margin: 0 0 1vh 0 !important;
	}

	.makeLateral{
		border-left: 2px solid red;
		border-right: 2px solid red;
		width: fit-content;
		padding: 0.3vw;
	}

	.addBorderBot{
		border: none;
	}
	.btLog{
		margin: 1vh 0 1vh 5vh;
		padding: 0.5vw;
		border-radius: 4px;
		font-size: 4vw;
	}
	span{
		font-size: 3vw;
	}
	#paste{
		margin-right: 2.2vw;
	}
	
	#pasteArea {
		height: 15vh;
	}

	#convertedText {
		height: 20vh;
	}

	textarea{
		margin: 0.4vh 0vh 2vh 4.5vh;
	}

	.spaceToMiddle{
		margin: 1vw;
	}

	.difBut{
		border-radius: 8px;
		font-size: 4vw;
		margin: 0 0 0 5vh;
	}

	.hwB{
		height: 6vh;
		width: 65%;
	}

	.copyBut{
		border-radius: 4px;
		font-size: 4vw;
		margin: 1vh 0 1vh 5vh;
		padding: 0.75vw;
	}

	.footerLooks{
		padding: 0;
		margin: 0;
	}
	div.fit80.fltLeft{
		float: left;
	}
} 
